body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 4vw;
	color: #dcddd9;
	background: #202225;
	margin-top: 150px;
}
body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #202225;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #202225;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #40444b;
}

input {
	height: 5vh;
	font-size: 3vw;
	padding: 15px;
	text-align: center;
	background: #40444b;
	color: #dcddd9;
	border-radius: 50px;
	border-style: solid;
	border-color: #ff7b00;
	border-width: 3px;
	outline: none;
}

#msg_input {
	position: fixed;
	left: 50%;
	top: 0;
	width: 85%;
	margin: 25px 0px;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#username_input {
	display: block;
	width: 60%;
	margin: 0px auto 25px;
}

.msg {
	overflow-wrap: break-word;
	background: #40444b;
	margin: 35px 150px;
	padding: 25px 15px;
	border-radius: 15px;
}

#logout {
	position: fixed;
	left: 10px;
	bottom: 10px;
}
#logout:hover {
	cursor: pointer;
}
