body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 4vw;
	color: #dcddd9;
	background: #202225;
	margin: 0px;
}
body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #202225;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #202225;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #40444b;
}

input {
	height: 5vh;
	font-size: 3vw;
	padding: 15px;
	text-align: center;
	background: #40444b;
	color: #dcddd9;
	border-radius: 50px;
	border-style: solid;
	border-color: #ff7b00;
	border-width: 3px;
	outline: none;
}

#msg-input {
	margin-top: 15px;
	width: 85%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.msg-list {
	height: 87vh;
	overflow: auto;
}
.msg-list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #202225;
}

.msg-list::-webkit-scrollbar {
	width: 10px;
	background-color: #202225;
}

.msg-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #40444b;
}

.msg {
	overflow-wrap: break-word;
	background: #40444b;
	margin: 35px 150px;
	padding: 25px 15px;
	border-radius: 15px;
}

#logout {
	position: absolute;
	bottom: 40px;
}

.log-btn:hover {
	cursor: pointer;
}

.chat-container {
	position: absolute;
	display: inline-block;
	left: 0px;
	height: 100vh;
	width: 70vw;
}

.userlist {
	position: absolute;
	display: inline-block;
	right: 0px;
	height: 100vh;
	width: 30vw;
}
